

    <div class="form-wrapper">
      <h2 class="title">Setting</h2>

      <form method="POST" action=>

          <fieldset class="form-field">
              {{ form.nickname.label }}
              {{ form.nickname(size=20) }}

                {% if form.nickname.errors %}
                <ul class="errors">
                    {% for error in form.nickname.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
          </fieldset>

          <fieldset class="form-field">
              {{ form.first_name.label }}
              {{ form.first_name }}

              {% if form.first_name.errors %}
                <ul class="errors">
                    {% for error in form.first_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
          </fieldset>

          <fieldset class="form-field">
              {{ form.last_name.label }}
              {{ form.last_name }}

              {% if form.last_name.errors %}
                <ul class="errors">
                    {% for error in form.last_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
          </fieldset>

          <fieldset class="form-field">
            {{ form.email.label }}
            {{ form.email }}

            {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ form.telegram_nickname.label }}
            {{ form.telegram_nickname }}

            {% if form.telegram_nickname.errors %}
                <ul class="errors">
                    {% for error in form.telegram_nickname.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        </fieldset>

          {{ form.submit }}

          {{ form.delete }}

      </form>
    </div>

